@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.titulo {
  font-family: "Chakra Petch", sans-serif;
}

#logoHeader {
  width: 40px;
  height: 40px;
  border-radius: 7px;
}

#logoFooter {
  width: 100px;
  height: 100px;
  border-radius: 7px;
}

#divIconosNavbar
{
  display: none;
}

.ImagenCategorias{
  height: 300px;
  object-fit: cover;
}

/* MEDIA QUERIE SMALL (Celular) */

@media screen and (max-width: 767px) 
{
  #divIconosNavbar
  {
    display: inline;
  }
  .iconosHamburguesa
  {
    display: none;
  }
}

/* MEDIA QUERIE MEDIUM (Tablet) */

@media screen and (min-width: 768px) and (max-width: 991px) {
  #divIconosNavbar
  {
    display: inline;
  }
  .iconosHamburguesa
  {
    display: none;
  }
}
